# Compiled object files, static and dynamic libs
*.o
*.lo
*.slo
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt build artifacts and caches
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*_qmlcache.qrc
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl
target_wrapper.*

# Project/user/session files (Qt Creator, Qbs, QML, etc.)
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qmlproject.user
*.qmlproject.user.*
*.autosave
*creator.user*

# Qt Creator local cache, session, and stash files
/.qmake.cache
/.qmake.stash
CMakeLists.txt.user*

# CMake build system artifacts
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/install_manifest.txt
compile_commands.json

# VSCode & CLion (and other IDE) meta/config files
.vs/

# Build output/result folders
/script_build_result/
/build/

# clang-format configs, if not meant to be tracked
clang-format*

